@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo{
  display: block;
  margin: auto;
  max-width: 100px;

}

header {
  background-color: #fff;
}

header nav ul {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #000;
  font-family: 'Merriweather', serif;
}

.current {
  border: 3px solid red;
  border-radius: 10px;
  color: #000;
}

li a:hover {
  background-color: red;
  border-radius: 10px;
  color: #fff;
}

main {
  background-color: #eee;
}

.img-flex {
  width: 100%;
  display: block;
}

footer {
  background-color: black;
}

footer ul li{
  color: #fff;
  display: block;
}


@media only screen and (min-width: 38em) {

  .logo {

    margin-left: 1em;
  }

  header nav ul {
    text-align: right;
    padding-bottom: 0;
  }

}
